@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html { font-family: "Inter var", sans-serif; }
}

body, h1, h2, h3, p, dd, ul, figure {
  margin: 0;
}
main {
  max-width: 1200px;
  margin: auto;
  padding: 1em 1em 3em;
}

dl {
  display: flex;
}
h2 {
  margin-bottom: 1em;
}
h3 {
  font-size: 1em;
}
h3 + p {
  font-size: .75em;
}
ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 1em;
  justify-content: center;
  align-items: flex-end;
}
li {
  flex-basis: 0;
}
figure {
  text-align: center;
}
figcaption {
  text-align: center;
  font-weight: 600;
  margin-bottom: .5em;
}
article+article {
  margin-top: 4em;
}

img {
  max-width: 200px;
}
@media screen and (max-width: 500px) {
  img { max-width: 150px; }
}
.faltante img {
  width: 50px;
}