html {
  font-family: "Inter", sans-serif;
  background-color: #fefefe;
  color: #444;
}

@supports (font-variation-settings: normal) {
  html { font-family: "Inter var", sans-serif; }
}

body, dd, ul, figure {
  margin: 0;
}
header, main, footer {
  max-width: 1200px;
  margin: auto;
  padding: 1em;
}
h1, h2, h3 {
  max-width: 768px;
  margin: 0 auto;
}
h1 {
  font-size: 4em;
  font-weight: 800;
  position: relative;
}
h1::before, h1::after {
  content: "A";
  display: inline-block;
  color: transparent;
  font-size: inherit;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
h1::before {
  position: absolute;
  margin-left: -1em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%23FFCC4D' d='M2.653 35C.811 35-.001 33.662.847 32.027L16.456 1.972c.849-1.635 2.238-1.635 3.087 0l15.609 30.056c.85 1.634.037 2.972-1.805 2.972H2.653z'/%3E%3Cpath fill='%23231F20' d='M15.583 28.953c0-1.333 1.085-2.418 2.419-2.418 1.333 0 2.418 1.085 2.418 2.418 0 1.334-1.086 2.419-2.418 2.419-1.334 0-2.419-1.085-2.419-2.419zm.186-18.293c0-1.302.961-2.108 2.232-2.108 1.241 0 2.233.837 2.233 2.108v11.938c0 1.271-.992 2.108-2.233 2.108-1.271 0-2.232-.807-2.232-2.108V10.66z'/%3E%3C/svg%3E");
}
h1::after {
  margin-left: .25em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%23DD2E44' d='M12 3l-9 8.985V24l9 9h12l9-9V11.985L24 3z'/%3E%3Cpath fill='%23CCD6DD' d='M24.827 1H11.173L1 11.156v13.672L11.172 35h13.657L35 24.828V11.156L24.827 1zM33 24l-9 9H12l-9-9V11.985L12 3h12l9 8.985V24z'/%3E%3C/svg%3E");
}
@media screen and (max-width: 950px) {
  h1 {
    font-size: 3em;
  }
  h1::before {
    content: "";
  }
}
h2 {
  margin-bottom: 1em;
  font-size: 2em;
}
h3 {
  font-size: 1em;
}
p {
  max-width: 768px;
  font-size: 1.1em;
  line-height: 1.25;
  font-weight: 400;
}
header p, main p {
  margin: 1em auto;
  text-indent: 1em;
}
header p:last-of-type,
main p:last-of-type {
  margin-bottom: 2em;
}
footer {
  text-align: right;
}
main h3 + p, main h3 + p:last-of-type {
  margin: 0;
  text-indent: 0;
  font-size: .75em;
}
b, strong {
  font-weight: 600;
}


a[href] {
  padding: .1em .2em;
  border-radius: 2px;
  color: #131313;
  text-decoration: none;
  background-color: rgb(255, 231, 115, .5);
}
a[href]:hover, a[href]:focus, a[href]:active {
  background-color: #ffe773;
}

dl {
  display: flex;
}
ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 1em;
  justify-content: center;
  align-items: flex-end;
}
li {
  flex-basis: 0;
}
figure {
  text-align: center;
}
figcaption {
  text-align: center;
  font-weight: 600;
  margin-bottom: .5em;
}
article+article {
  margin-top: 4em;
}
hr {
  height: 2.5px;
  background-color: #111;
  border: 0;
  margin: 3rem auto;
  width: 50%;
}

img {
  max-width: 200px;
  border: 4px solid #eee;
  border-radius: 7.5px;
}
@media screen and (max-width: 500px) {
  img { max-width: 150px; }
}
.faltante img {
  width: 50px;
}